---
title: Home
heading: 'Cadillac Countdown Timer'
layout: layout
---


<div class="row expanded collapse align-middle align-center countdown-timer" style="background-image: url('./assets/images/hero-bg.jpg');">
  <div id="master" class="columns small-10 medium-8 large-10 hidden">
    <div id="ear" class="row collapse">
      <div class="columns">
        <h3 class="timer__heading" style="color: #BEAD76;"> Preordering for the 2021 Escalade begins in:</h3>
      </div>
    </div>
    <div id="timer" class="row expanded collapse align-justify">
      <div class="columns small-2 medium-shrink">
        <h2 id="days" class="timer__value"></h2>
        <p class="timer__key">days</p>
      </div>
      <div class="columns small-2 medium-shrink">
        <h2 id="hours" class="timer__value"></h2>
        <p class="timer__key">hours</p>
      </div>
      <div class="columns small-2 medium-shrink">
        <h2 id="minutes" class="timer__value"></h2>
        <p class="timer__key">mins</p>
      </div>
      <div class="columns small-2 medium-shrink">
        <h2 id="seconds" class="timer__value"></h2>
        <p class="timer__key">secs</p>
      </div>
    </div>
    <div id="reveal" class="row expanded hidden">
      <div class="columns text-center">
        <h3 class="timer__reveal">PREORDER YOUR NEW 2021 ESCALADE</h3>
      </div>
    </div>
  </div>
  <div class="timer__disclaimer hidden">
    Pre-production model shown.
  </div>
</div>
